X_GTT_layer_last_bert-uncased_epoch20_muc1700-float16.npy filter=lfs diff=lfs merge=lfs -text
X_TANL_layer_last_bert-uncased_epoch20_muc1700-float16.npy filter=lfs diff=lfs merge=lfs -text
X_dygiepp_embedding-unpadded_bert-uncased_epoch21_muc1700-float16.npy filter=lfs diff=lfs merge=lfs -text
